<main>
    <div ngClass="movies">
        <span (click)="clearFavorites()" class="btn clear-all removeFromFavorites">Clear All Favorites<i class="fas fa-trash-alt icon"></i></span>
        <section class="movie-container">
            <div *ngFor="let movie of movies"class="movie-item">
                <a routerLink="/detail/{{movie.id}}">
                    <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" alt="poster" class="img-responsive"/>
                </a>
                <div class="movie-details">
                    <span> Released: {{ movie.release_date | date: "y"}}</span>
                    <span (click) ="removeFromFavorites(movie.id)" class="remove-x"><i class="fas fa-trash-alt icon"></i></span>
                </div>
            </div>
        </section>
    </div>
</main>