a:hover {
    color:rgb(255,133,25);
}

.title, .movie-description, .more-details {
    text-align: center;
}

.inner-movie-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.img-detail {
    text-align: center;
    max-width: 350px;
}

.movie-interact {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.added-list {
    padding: 5px;
    text-align: center;
}

.movie-interact-button {
    background: crimson;
    border: crimson;
    border-radius: 20px;
    padding: 5px;
    width: 100%;
    font-size: 16px;
    margin: 5px;
    transition: all 0.4s ease 0s;
}

.movie-interact-button:hover {
    background: rgb(255,133,25);
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}

@media only screen and (min-width: 768px) {
    .movie-container {
        width: 80%;
        position: absolute;
        right: 0;
    }
    
    .inner-movie-container {
        flex-direction: row-reverse;
        padding-top: 50px;
        margin-left: 1%;
    }

    .img-detail {
        width: 150%;
    }
    
    .movie-info {
        padding: 0 30px 0 30px;
    }
    
    .movie-interact {
        padding-top: 50px;
        align-items: baseline;
        flex-direction: row;
    }

    .movie-interact-button {
        width: 180px;
    }

    .more-details {
        text-align: left;
        margin-left: 10px;
    }
}

@media only screen and (max-width:768px) {
    .inner-movie-container {
        width: 75%;
        margin-left: 50px;
    }
    .img-detail{
        width: 100%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .movie-container {
        margin-right: -100px;
    }

    .img-detail {
        width: 35%;
        margin-left: 100px;
    }
}

