<main>
    <div class="movie-container" *ngIf="movie">
        <section>
            <div class ="inner-movie-container">
                <div class="movie-info">
                    <div class="title"><h1>{{movie.title | uppercase}}</h1></div>
                    <div class="movie-description"><p>{{movie.overview}}</p></div>
                    <div class="movie-interact">
                        <button class="movie-interact-button" (click)="addToFavorites($event, movie.id)">
                            <span class="myList"></span>My List</button>
                        <button class="movie-interact-button" (click)="moreInfo($event)">
                            <span class="moreInfo"></span>More Info</button>
                    </div>
                    <p class="added-list" *ngIf="addedToFavorites">Added to Watch List</p>
                </div>
                <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" alt="poster" class="img-detail" />
            </div>
                <div *ngIf="showMore" class="more-details">
                    <p> Genre: <span *ngFor="let genre of movie.genres">{{genre.name}} </span>
                    <p> Languages: <span *ngFor="let lang of movie.spoken_languages">{{lang.name}} </span>
                    <p> Website: <a href="{{movie.homepage}}" >{{movie.homepage}}</a></p>
                    <p> Released: <span>{{movie.release_date}} </span></p>
                    <p> Popularity: <span>{{movie.popularity}} </span></p>
                </div>
        </section>
    </div>
</main>