@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

body {
    background: rgb(3,5,8);
    background: linear-gradient(90deg, rgba(3,5,8,1) 18%, rgba(28,46,74,1) 63%, rgba(59,95,154,1) 100%); 
}

.loading{
    margin-top:50%;
    margin-left:40%;
    z-index: 100;
}

.movie-container {
    flex-direction: column;
    display: flex;
    justify-content: center;
}

.movie-item {
    -webkit-box-shadow: 1px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 0px 10px 0px rgba(0,0,0,0.75);
}

.img-responsive {
    transition: all .2s ease-in-out;
    width: 100%;
}

.img-responsive:hover {
    transform: scale(1.1);
}

@media only screen and (max-width: 768px) {
    .inner-movie-description { 
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    .loading{
        margin-top:25%;
        margin-left:45%;
        z-index: 100;
    }

    .movie-container {
        flex-direction: row;
        flex-wrap: wrap;
        width: 80%;
        right: 0;
        position: absolute;
    }
    .movie-item {
        width: 23%;
        margin: 1% 1% 4% 1%;
        max-height: 436px;
    }

    .img-responsive {
        max-width: 100%;
        height: 100%;
        transition: all .2s ease-in-out;
    }

    .img-responsive:hover {
        transform: scale(1.1);
        animation: animateRotate 600ms;
    }

    @keyframes animateRotate {
        0% { transform: rotate(360deg);}
        100%{ transform: rotate(0);}
    }

    .rating-container {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        position: relative;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        bottom: 75px;
        left: 210px;
        font-size: 18px;
        border: 1px solid rgb(255,133,25);
        background-color: rgb(255,133,25);
    }
}

@media only screen and (min-width: 1300px) {
    .rating-container {
        left: 310px;
    }
}